{{define "title"}}Latest Snippets{{end}}
{{define "content"}}

<body class="bg-blue-100 text-blue-900">
  <div class="max-w-screen-xl mx-auto px-8 py-16">
    <div class="snippet-list">
      <h1 class="text-4xl mb-8">Latest Snippets</h1>
      {{ if .Snippets }}
      {{ range .Snippets }}
      <a href="/snippet/view?id={{.ID}}">
        <div class="bg-white p-16 rounded-lg shadow-lg mb-16">
          <div class="metadata flex justify-between items-center mb-8 flex-col">
            <strong class="text-3xl font-medium">{{.Title}}</strong>
            <span class="text-xl">#{{.ID}}</span>
          </div>
          <pre class="bg-gray-100 rounded-lg p-8 mt-8 text-2xl"><code>{{.Content}}</code></pre>
          <div class="metadata flex justify-between items-center mt-12 flex-col">
            <time class="text-lg">Created: {{humanDate .Created}}</time>
            <time class="text-lg">Expires: {{humanDate .Expires}}</time>
          </div>
        </div>
      </a>
      {{ end }}
      {{ else }}
      <p>No snippets have been created yet.</p>
      {{ end }}
    </div>
  </div>
</body>
{{end}}