{{define "content"}}
<form action="/user/signin" method="POST" class="mx-auto max-w-md mt-8">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{range .Form.NonFieldErrors}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline">{{.}}</span>
    {{end}}
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">
            Email
        </label>
        {{with .Form.FieldErrors.email}}
            <label class="block text-red-700 font-bold mb-2 error" for="email">
                {{.}}
            </label> 
        {{end}}
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" name="email" type="email" placeholder="Enter email address here..." value="{{.Form.Email}}">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="password">
            Password
        </label>
        {{with .Form.FieldErrors.password}}
            <label class="block text-red-700 font-bold mb-2 error" for="password">
                {{.}}
            </label> 
        {{end}}
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password" name="password" type="password" placeholder="Enter password here...">
    </div>
    <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Sign up">
</form>
{{end}}
