{{define "title"}}<h1 class="text-4xl mb-8">Snippet #{{.Snippet.ID}}</h1>{{end}}
{{define "content"}}
{{with .Snippet}}
<body class="bg-blue-100 text-blue-900">
    <div class="max-w-screen-xl mx-auto px-8 py-16">
        <div class="bg-white p-16 rounded-lg shadow-lg">
            <div class="snippet">
                <div class="metadata flex justify-between items-center mb-8">
                    <strong class="text-3xl font-medium">{{.Title}}</strong>
                    <span class="text-xl">#{{.ID}}</span>
                </div>
                <pre class="bg-gray-100 rounded-lg p-8 mt-8 text-2xl"><code>{{.Content}}</code></pre>
                <div class="metadata flex justify-between mt-12 flex-col">
                    <time class="text-lg">Created: {{humanDate .Created}}</time>
                    <time class="text-lg">Expires: {{humanDate .Expires}}</time>
                </div>
            </div>

        </div>
    </div>
</body>
{{end}}
{{end}}